html {
	box-sizing: border-box;
	font-family: Arial;
}

*, *:after, *:before {
	box-sizing: inherit;
}

#container {
	height: 466px;
	width: 450px;
	border: 1px solid #CCCCCC;
	margin: auto;
}

#header {
	border-bottom: 1px solid #E3E7E9;
	width: 100%;
	height: 50px;
	background: #F5F8FA;
	padding: 13px;
	font-weight: bold;
	font-size: 18px;
}

.headerValue {
	display: inline-block;

}

#content {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

#listContainer, #profileContainer {
	height: 310px;
	width: 419px;
	overflow: auto;
}

#listHeader {
	width: 419px;
	height: 50px;
	background: #81BC39;
	color: white;
	font-weight: bold;
	padding: 15px;
	border-bottom: 2px solid #649C1A;
	font-size: 18px;
}

.listItem {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	padding-left: 14px;
	vertical-align: middle;
	line-height: 50px;
}

.profileItem{
	vertical-align: middle;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	padding-left: 0px;
}


.listName {
	line-height: 40px;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
}


.avatar {
	height: 25px;
	width: 25px;
	border-radius: 100%;
	margin-right: 10px;
	vertical-align: middle;
}

.avatarBanner {
	height: 112px;
	width: 112px;
	border-radius: 100%;
	margin: auto;
	position: absolute;
	top: 43px;
	left: 147px;
}

.profileBanner {
	background: #A7D076;
	width: 419px;
	height: 200px;
	position: relative;
}

.fa {
	font-size: 40px;
	margin-left: 15px;
	margin-top: 15px;
	color: black;
}

.faProfile{
	font-size: 15px;
	margin-right: 10px;
}

.noDecoration {
	text-decoration: none;
}

.delButton {
	height: 25px;
	width: 100px;
	float: right;
	margin-top: 10px;
	border-radius: 5%;
	color: #3c3838;
	font-weight: bold;
}

.delButton:hover {
	background: red;
	color: white;
	font-weight: bold;
}

.createButton {
	height: 35px;
	width: 125px;
	margin-left: 156px;
	background: #81BC39;
	font-weight: bold;
	color: white;
	border-radius: 5%;
}

.createButtonDiv{
	height: 40px;
	width: 100%;
}

.formInput {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	height: 32px;
}

.form {
	width: 100%;
}