html {
	box-sizing: border-box;
	font-family: Arial;
}

*, *:after, *:before {
	box-sizing: inherit;
}

#container {
	height: 450px;
	width: 450px;
	border: 1px solid #CCCCCC;
	margin: auto;
}

#header {
	border-bottom: 1px solid #E3E7E9;
	width: 100%;
	height: 50px;
	background: #F5F8FA;
	padding: 13px;
	font-weight: bold;
	font-size: 18px;
}

.headerValue {
	display: inline-block;

}

#content {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

#listContainer, #profileContainer {
	height: 319px;
	width: 419px;
}

#listHeader {
	width: 419px;
	height: 50px;
	background: #81BC39;
	color: white;
	font-weight: bold;
	padding: 15px;
	border-bottom: 2px solid #649C1A;
	font-size: 18px;
}

.listItem {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	padding-left: 14px;
	vertical-align: middle;
	line-height: 50px;
}

.listName {
	line-height: 40px;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
}

.avatar {
	height: 25px;
	width: 25px;
	border-radius: 100%;
	margin-right: 10px;
	vertical-align: middle;
}




